[Unit]
Description=Do test
After=cd Desktop/seminar/final

[Service]
ExecStart=python3 /home/semi20rd178/Desktop/seminar/final/Laser_piano.py
User=semi20rd178

[Install]
WantedBy=multi-user.target
